body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --border-color: rgb(92, 92, 92);
  --background-color: #000000;
  --blue-color: #0010a3;
  --text-color: white;
}

.button {
  font-size:0.6em;
  font-weight: 700;
  color: var(--text-color);
  background-image: linear-gradient(#3944e0, #0010a3);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  padding: 0.4em;
  margin: 1em;
}
.button:focus {
  background-image: linear-gradient(#0010a3, #3944e0);
}