.Tache {
    background-color: var(--background-color);
    width: 100%;
    font-size: calc(4px + 2vmin);
    color: var(--text-color);
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.menu-items {
    display: flex;
    width: 40%;
    cursor: pointer;
}

.link-menu {
    text-decoration: none;
    margin: auto;
    display: flex;
    color: var(--text-color);
}

.menu-items .icon {
    margin: 1em;
    height: auto;
    width: 11%;
}