.Tweet {
    background-color: var(--background-color);
    text-decoration: none;
    font-size: calc(10px + 1vmin);
    font-weight: 500;
    color: var(--text-color);
    border-bottom: var(--border-color) solid 1px;
    display: flex;
    width: 100%;
}

.restTweet {
    display: flex;
    flex-direction: column;
    width: 90%;
    text-justify: inter-word;
}

.imageTweet {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.profilPictureTweet {
    width: 80%;
    height: auto;
    margin-top: 1em;
    border-radius: 50%;
}

.topRT {
    font-size: calc(8px + 1vmin);
    font-weight: 500;
    color: var(--border-color);
    margin-left: 1em;
    margin-top: 0.5em;
    display: flex;
}

.linkUNRT {
    color: var(--border-color),;
    text-decoration: none;
    margin: 0 1em;
}

.profil-head {
    display: flex;
    justify-content: space-between;
}

.profil-head > div > p {
    margin-left: 1em;
    margin-bottom: 0.5em;
}

.profil-head > #name-date {
    display: flex;
}

#datePost {
    margin-top: 1em;
    margin-left: 1em;
    font-weight: 400;
    color: var(--border-color);
}

.userNameProfil {
    margin-top: 1em;
    margin-left: 1em;
    font-weight: 400;
    color: var(--border-color);
}

#menuTweet {
    margin-top: 1em;
    margin-right: 1.5em;
    color: var(--border-color);
}

#menuTweet:hover {
    cursor: pointer;
}
 
.content {
    margin-left: 1em;
    margin-right: 1em;
}
.content p {
    margin-top: 0.5em;
    font-weight: 400;
    color: var(--text-color);
}

.content > img {
    width: 80%;
    height: auto;
}

.LRT {
    height: 1.5em;
    display: flex;
}

.LRTParts {
    color: var(--border-color);
    width: 25%;
}

.Like:hover {
    color: red;
}

.Response:hover {
    color: blue;
}

.Retweet:hover {
    color: green;
}

.Share:hover {
    color: yellow;
}

.iconsLRT:hover {
    cursor: pointer;
}

.iconNB {
    display: flex;
}

.isResponse {
    font-size: calc(8px + 1vmin);
    font-weight: 500;
    color: var(--border-color);
    display: flex;
    justify-content: flex-start;
}

.linksResponse {
    margin-left: 0.5em;
    color: var(--border-color);
    text-decoration: none;
}